.cdtproject
config.h
config.h.in
.cproject
debug/
.deps/
Makefile.Debug
Makefile.Release
.moc/
moc_*.cpp
*.o
object_script.tlist.Debug
object_script.tlist.Release
.project
qmakefile
qmakefile.Debug
qmakefile.Release
qrc_*y.cpp
.settings/
tlist
ui_*.h
tags
tlist*.tar.gz
