.moc/
Makefile.Debug
Makefile.Release
config.h
debug/
object_script.tlist.Debug
object_script.tlist.Release
qmakefile
qmakefile.Debug
qmakefile.Release
ui_addproject.h
ui_auto_select.h
ui_error.h
ui_help.h
ui_mainwindow.h
ui_notes.h
ui_setup.h
ui_timeedit.h
*.o
