COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
auto.sh
autom4te.cache/
build-arch-stamp
build-indep-stamp
clients/tlist/cmdline.c
clients/tlist/cmdline.h
clients/tlist/pics/active-clock.gif
clients/tlist/qrc_tlist.cpp
clients/tlist/tlist.pro.user
config.guess
config.log
config.status
config.sub
configure
database/tasker_cdb
database/test_tasker.sql
debian/files
debian/tasker-doc.debhelper.log
debian/tasker-doc/
debian/tasker-server-perl.debhelper.log
debian/tasker-server-perl.substvars
debian/tasker-server-perl/
debian/tasker-server.debhelper.log
debian/tasker-server.postinst.debhelper
debian/tasker-server.postrm.debhelper
debian/tasker-server.prerm.debhelper
debian/tasker-server/
debian/tasker-tlist.debhelper.log
debian/tasker-tlist.substvars
debian/tasker-tlist/
debian/tasker-x11.debhelper.log
debian/tasker-x11.substvars
debian/tasker-x11/
depcomp
docs/AUTHORS
docs/COPYING
docs/ChangeLog
docs/Foxprint.svg
docs/INSTALL
docs/Makefile
docs/Makefile.in
docs/NEWS
docs/README
docs/Red_Checkmark.svg
docs/Trasker_logo.xcf
docs/Trasker_logo_check_paw.ico
docs/Trasker_logo_check_paw.png
docs/aclocal.m4
docs/autom4te.cache/
docs/config.guess
docs/config.log
docs/config.status
docs/config.sub
docs/configure
docs/configure.ac
docs/configure.ac.in
docs/focus_flow.svg
docs/install-sh
docs/man/
docs/mdate-sh
docs/missing
docs/stamp-vti
docs/tasker.aux
docs/tasker.cp
docs/tasker.cps
docs/tasker.dvi
docs/tasker.fn
docs/tasker.html
docs/tasker.info
docs/tasker.ky
docs/tasker.log
docs/tasker.pg
docs/tasker.toc
docs/tasker.tp
docs/tasker.vr
docs/texinfo.tex
docs/trasker.ico
install-sh
missing
mozilla/
ms_windows/
servers/COPYING
servers/INSTALL
servers/Makefile
servers/Makefile.in
servers/aclocal.m4
servers/autom4te.cache/
servers/config.guess
servers/config.log
servers/config.status
servers/config.sub
servers/configure
servers/install-sh
servers/missing
servers/perl/Build
servers/perl/Build.PL
servers/perl/META.yml
servers/perl/Makefile
servers/perl/Makefile.in
servers/perl/README
servers/perl/Tasker-0.0.2/
servers/perl/_build/
servers/perl/blib/
servers/perl/cover_db/
servers/perl/makefile
servers/perl/pm_to_blib
servers/perl/pod2htmd.tmp
servers/perl/pod2htmi.tmp
servers/perl/scripts/taskerd
servers/perl/scripts/taskerd.pl
servers/perl/scripts/taskers
servers/perl/temp
servers/tasker-server-0.0.1.tar.gz
tasker-*.tar.gz
tasker-*.tar.bz2
tasker-x11/COPYING
tasker-x11/INSTALL
tasker-x11/Makefile
tasker-x11/Makefile.in
tasker-x11/aclocal.m4
tasker-x11/autom4te.cache/
tasker-x11/config.log
tasker-x11/config.status
tasker-x11/configure
tasker-x11/configure.ac
tasker-x11/src/.deps/
tasker-x11/src/Makefile
tasker-x11/src/Makefile.in
tasker-x11/src/focus
tasker-x11/src/focus.o
tasker-x11/src/winselect
tasker-x11/src/winselect.o
tasker-x11/src/x
tasker-x11/x
web/logs
