.cil
.cilrc
.xvpics/
/Makefile.in
/servers/Makefile
/servers/Makefile.in
/servers/aclocal.m4
/servers/autom4te.cache/
/servers/config.guess
/servers/config.log
/servers/config.status
/servers/config.sub
/servers/configure
/servers/install-sh
/servers/missing
/servers/perl/Build
/servers/perl/Build.PL
/servers/perl/META.yml
/servers/perl/Makefile
/servers/perl/README
/servers/perl/Tasker-0.0.2/
/servers/perl/_build/
/servers/perl/blib/
/servers/perl/cover_db/
/servers/perl/makefile
/servers/perl/pm_to_blib
/servers/perl/pod2htmd.tmp
/servers/perl/pod2htmi.tmp
/servers/perl/scripts/traskerd
/servers/perl/scripts/traskerd.pl
/servers/perl/scripts/traskers
/servers/perl/temp
INSTALL
Makefile
aclocal.m4
auto.sh
autom4te.cache/
build-arch-stamp
build-indep-stamp
certs/
clients/perl/MANIFEST
clients/perl/MANIFEST.SKIP
clients/perl/MANIFEST.SKIP.bak
clients/perl/MYMETA.yml
clients/qt/tlist/COPYING
clients/qt/tlist/auto_model.h
clients/qt/tlist/pics/active-clock.gif
clients/qt/tlist/projectlist.cpp
clients/qt/tlist/projectlist.h
clients/qt/tlist/qrc_tlist.cpp
clients/qt/tlist/tlist.pro.user
clients/qt/tlist/x
clients/qt/ttcp/Makefile.in
clients/qt/ttcp/connection.h
clients/qt/ttcp/libttcp.so
clients/qt/ttcp/libttcp.so.1
clients/qt/ttcp/libttcp.so.1.0
clients/qt/ttcp/libttcp.so.1.0.0
clients/qt/ttcp/moc_ttcp.cpp
clients/qt/ttcp/moc_ttcp.o
clients/qt/ttcp/projectlist.h
clients/qt/ttcp/qmakefile
clients/qt/ttcp/ttcp.o
clients/qt/ttcp/ttcp.pro
clients/tlist/COPYING
clients/tlist/auto_model.h
clients/tlist/pics/active-clock.gif
clients/tlist/projectlist.cpp
clients/tlist/projectlist.h
clients/tlist/qrc_tlist.cpp
clients/tlist/tlist.pro.user
clients/tlist/x
clients/x11/COPYING
clients/x11/configure.ac
clients/x11/src/.deps/
clients/x11/src/Makefile.in
clients/x11/src/focus
clients/x11/src/focus.o
clients/x11/src/winraise
clients/x11/src/winraise.c
clients/x11/src/winraise.o
clients/x11/src/winselect
clients/x11/src/winselect.o
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
database/alerts.schema
database/elect timeslice.id,
database/ers.id = timeslice.user_id
database/lice, project, users
database/tasker_cdb
database/tasker_dump.sql
database/test_tasker.sql
database/test_trasker.sql
database/trasker_cdb
database/x
depcomp
docs/AUTHORS
docs/COPYING
docs/ChangeLog
docs/Foxprint.svg
docs/INSTALL
docs/Makefile
docs/Makefile.in
docs/NEWS
docs/README
docs/Red_Checkmark.svg
docs/Trasker_logo.xcf
docs/Trasker_logo_check_paw.ico
docs/Trasker_logo_check_paw.png
docs/aclocal.m4
docs/autom4te.cache/
docs/config.guess
docs/config.log
docs/config.status
docs/config.status.lineno
docs/config.sub
docs/configure
docs/configure.ac
docs/coyote-dog-paws.gif
docs/focus_flow.svg
docs/install-sh
docs/man/
docs/mdate-sh
docs/missing
docs/pastedpic_07242009_151035.png
docs/stamp-vti
docs/texinfo.tex
docs/trasker.aux
docs/trasker.cp
docs/trasker.cps
docs/trasker.dvi
docs/trasker.fn
docs/trasker.html
docs/trasker.ico
docs/trasker.info
docs/trasker.ky
docs/trasker.log
docs/trasker.pdf
docs/trasker.pg
docs/trasker.toc
docs/trasker.tp
docs/trasker.vr
docs/trasker_1.html
docs/trasker_2.html
docs/trasker_3.html
docs/trasker_4.html
docs/trasker_5.html
docs/trasker_6.html
docs/trasker_7.html
docs/trasker_8.html
docs/trasker_abt.html
docs/trasker_toc.html
docs/use_cases.xmi
install-sh
issues/
missing
mozilla/
ms_windows/
opera/
servers/database/
servers/libtasker-perl_0.0.1-1.dsc
servers/libtasker-perl_0.0.1-1.tar.gz
servers/libtasker-perl_0.0.1-1_all.deb
servers/libtasker-perl_0.0.1-1_amd64.build
servers/libtasker-perl_0.0.1-1_amd64.changes
servers/perl/.Makefile.am.swp
servers/perl/MYMETA.yml
servers/perl/Makefile.PL
servers/perl/database=trasker
servers/perl/debian/
servers/perl/lib/Trasker/TTDB/Setup/
servers/perl/lib/Trasker/TTDB/Store/
servers/perl/lib/Trasker/TTDB/TestConfig.pm
servers/perl/lib/bob.pl
servers/perl/scripts/POE::Trasker
servers/perl/scripts/texput.lgpl
servers/perl/scripts/texput.log
servers/perl/t/001_load.t
servers/perl/t/002_datastore_setup.t
servers/perl/t/00database.t
servers/perl/t/alerts.t
servers/perl/t/bob.db
servers/perl/t/old/
servers/perl/t/userprojects.t
servers/perl/t/z99database.t
servers/perl/timeslice.pl
servers/perl/traskerd.1p
servers/perl/traskerd.man
servers/perl/ts2.pl
servers/perl/x.pl
servers/perl/xmakefile
stamp-h1
trasker-*/
trasker-*.tar.bz2
trasker-*.tar.gz
trasker-x11/COPYING
trasker-x11/INSTALL
trasker-x11/Makefile
trasker-x11/aclocal.m4
trasker-x11/autom4te.cache/
trasker-x11/config.log
trasker-x11/config.status
trasker-x11/configure
trasker-x11/configure.ac
trasker-x11/src/.deps/
trasker-x11/src/Makefile
trasker-x11/src/Makefile.in
trasker-x11/src/focus
trasker-x11/src/focus.o
trasker-x11/src/winselect
trasker-x11/src/winselect.o
trasker-x11/src/x
trasker-x11/x
web/logs
