Makefile
addproject.o
auto_select.o
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
connection.o
error.o
help.o
main.o
mainwindow.o
makefile
moc_*
mytreeview.o
notes.o
qrc_systray.cpp
qrc_systray.o
qrc_tlist.cpp
qrc_tlist.o
systray.qrc
tlist
treeitem.o
treemodel.o
ttcp.o
ui_addproject.h
ui_auto_select.h
ui_error.h
ui_help.h
ui_mainwindow.h
ui_notes.h
x11.o
