*.o
.cdtproject
.cproject
.deps/
.moc/
.project
.settings/
Makefile
Makefile.Debug
Makefile.Release
config.h
config.h.in
debug/
moc_*.cpp
object_script.tlist.Debug
object_script.tlist.Release
pics/active-menu.xpm
qmakefile
qmakefile.Debug
qmakefile.Release
qrc_*y.cpp
stamp-h1
tags
test
test.moc
tlist
tlist*.tar.gz
tlist.man
tmakefile
ui_*.h
