Source: trasker
Section: unknown
Priority: extra
Maintainer: G. Allen Morris III <gam3@gam3.net>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.2
Homepage: http://trasker.gam3.net/

Package: trasker-tlist
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A QT 4 client to control trasker
 This is the most popular (and currently the only> client for trasker.

Package: trasker-doc
Architecture: all
Description: Documentation for trasker
 This documentation is only needed for server-client information

Package: trasker-server-perl
Architecture: any
Depends: perl, postgresql | sqlite
Description: An implimentation of the Tasker server writen in perl.
 This package also contains the Tasker::TTDB perl package that can be
 used to write other servers.

Package: trasker-server
Architecture: any
Depends: trasker-server-perl | trasker-server-c
Description: The common trasker-server files
  This file has the trasker-server keys and init.d files.

Package: trasker-x11
Architecture: any
Description: trasker clients for X11 desktops
 This package has programs to help you track your actions on an X11 desktop.
 If you are using XWindows (XFree86 or Xorg) you should install this package.

Package: trasker-server-c
Architecture: any
Depends: postgresql | sqlite
Description: An implimentation of the Tasker server writen in C.
 This server should be more rubust and faster than the perl server, but will
 not have as many features.

