#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule
db_version 2.0

# This conf script is capable of backing up
db_capb backup

# we support mysql, pgsql and sqlite3
dbc_dbtypes="mysql, pgsql, sqlite3"
# source dbconfig-common stuff
. /usr/share/dbconfig-common/dpkg/config 
dbc_go  trasker-server $@

db_beginblock
    db_input high trasker-server/admin_user || true
    db_input high trasker-server/local_user || true
db_endblock

#DEBHELPER#
